streamlit
pypdf
requests
python-dotenv
TTS
PyPDF2
pydub
pillow
opencv-python
python-docx
pytesseract
pdf2image
"langchain<0.2.0"
"langchain-core<0.2.0" 
"langchain_groq==0.0.1" 
"langchain-community<0.2.0"
sentence-transformers